{{#if displayModal}}
  {{#ifEqual modalEngine "bootstrap"}}
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{{options.title}}</h4>
        </div>
        <div class="modal-body">
          {{#if displayForm}}
          <div data-hull-component='form@formbuilder' data-hull-id="{{form.id}}" data-hull-skip-button="true"></div>
          {{else}}
          <div data-hull-component='login/shopify@hull' data-hull-redirect-on-login="false"></div>
          {{/if}}
        </div>
      </div>
    </div>
  {{else}}
    <div style="min-width:800px; min-height: 50%;">
      {{#if displayForm}}
      <div data-hull-component='form@formbuilder' data-hull-id="{{form.id}}" data-hull-skip-button="true"></div>
      {{else}}
      <div data-hull-component='login/shopify@hull' data-hull-redirect-on-login="false"></div>
      {{/if}}
    </div>
  {{/ifEqual}}
{{/if}}